/target/
/bin/
/.idea/
/node_modules/
/.classpath
/.settings/
/nbactions.xml
/src/main/webapp/npm-debug.log
/npm-debug.log
/Project1_Politics1_John_Locke.xml
/export.zip
/reports/
/src/main/webapp/coverage/
.DS_Store
