<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Project Modal -->
        <form role="form">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New Project</h4>
            </div>
            <div class="modal-body">
                <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" ng-model="vm.name" required>
                    The name of your project needs to be unique. You cannot use project names used by other project managers, as annotators may work for more than one project manager.
                </div>

                <div class="form-group">
                    <label for="sel1">Scheme:</label>
                    <select data-ng-model="selectedOption" ng-options="scheme as scheme.name for scheme in this.schemes">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="pe_createProjectButton" class="btn btn-primary" ng-disabled="!vm.name || !selectedOption" ng-click="submit(vm.name, selectedOption)">Submit</button>
            </div>
        </form>

    </body>
</html>
