<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-controller="projectEditModalController">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Project Edit Modal -->
        <form role="form">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit project</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label for="name">Name:</label> {{this.currentProjectName}}
                    </div>

                    <div class="form-group" ng-show="this.role == 'projectmanager'">
                        <label for="notification">Receive weekly E-Mail notification:</label>
                        <input type="checkbox"
                               ng-model="isWatching"
                               ng-click="watchProject(isWatching)">
                    </div>

                    <div class="form-group">
                        <label>Project managers:</label>
                        <table id="listingTable">
                            <tbody>
                                <tr ng-repeat="pm in this.projPms">
                                    <td class="tableRowWithGlyph">{{pm.email}}</td>
                                    <td>
                                        <a>
                                            <span class="glyphicon glyphicon-remove"
                                                  style="color: red;"
                                                  ng-click="deletePM(pm.id)"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label>Add project manager:</label>
                        <select ng-model="newPM"
                                ng-options="pm.id as pm.email for pm in (getUserComplement(this.pms, this.projPms)| orderBy: '-email')">
                        </select>
                        <button class="btn btn-primary"  ng-disabled="newPM === undefined" ng-click="addSelectedPM()">
                            Add
                        </button>
                    </div>
                </div>
                <!-- add users -->
                <div>
                    <div class="form-group">

                        <label>Annotators:</label>
                        <table id="listingTable">
                            <tbody>
                                <tr ng-repeat="user in this.projUsers">
                                    <td class="tableRowWithGlyph">{{user.email}}</td>
                                    <td><a>
                                            <span class="glyphicon glyphicon-remove" style="color: red;"
                                                  ng-click="deleteUser(user.id)"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label>Add annotator:</label>
                        <select ng-model="newUser"
                                ng-options="user.id as user.email for user in (getUserComplement(this.users, this.projUsers)| orderBy: '-email')">
                        </select>
                        <button class="btn btn-primary" ng-disabled="newUser === undefined" ng-click="addSelectedUser()">
                            Add
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="float: right" ng-click="cancel()" data-dismiss="modal">Close</button>
                </div>
        </form>


    </body>
</html>
