<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/explorer.css" rel="stylesheet">
    </head>
    <body>
        <!-- Project Modal -->
        <form role="form">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Scheme builder</h3>
            </div>
            <div class="col-lg-6">
                <uib-alert ng-repeat="alert in alerts"
                           type="{{alert.type}}"
                           dismiss-on-timeout="10000"
                           close="closeAlert($index)">
                    {{alert.msg}}
                </uib-alert>
            </div>
            <div class="modal-body">
                <!-- 1. row -->
                <div class="row">
                    <div class="form-group col-lg-6">
                        <input ng-model="collapseUpload" type="checkbox" id="sb_createFromExisting">
                        <label for="sb_createFromExisting">Create from existing scheme</label>
                    </div>

                    <!-- Upload scheme or select from existing schemes -->
                    <div class="form-group col-lg-12" ng-show="collapseUpload">
                        <div class="sb_left">
                            <label>Load existing scheme from database...</label>
                            <div class="sb_inputText">
                                <select class="form-control input-sm"
                                        ng-model="preloadedScheme" 
                                        ng-options="scheme as scheme.name for scheme in this.loadedSchemes">           
                                </select>
                            </div>
                            <button class="btn btn-success btn-sm" 
                                    type="button"
                                    ng-click="loadPreloadedScheme(preloadedScheme)"
                                    ng-disabled="preloadedScheme === undefined"
                                    id="sb_loadbutton">
                                Load scheme
                            </button>
                        </div>
                        <div class="sb_right">
                            <label>... or upload scheme (json/xml):</label>
                            <input class="btn btn-default btn-file"
                                   type="file"
                                   ng-model="file"  
                                   name="scheme"
                                   accept=".xml,.json"
                                   on-read-file="this.uploadScheme($fileContent)"/>
                        </div>

                    </div>
                </div>
                <hr/>
                
                <div class="row">
                    <!-- Scheme name -->
                    <div class="form-group col-lg-9">
                        <div class="form-group">
                            <label>Scheme name:</label>
                            <input type="text" id="scheme-name-input"
                                   placeholder="Enter name..." 
                                   class="form-control sb_inputName"
                                   ng-model="name"/>
                        </div>
                    </div>
                </div>
                <hr>
                
                <!-- Note: the checked HTML attributes for radio buttons do not work here -->
                <label>Select the visualization:</label>
                <div class="row">
                    <div class="form-group" ng-init="visKind='None'">
                        <div class="col-lg-3">
                            <label class="radio-inline">
                                <input type="radio"
                                       name="optradioVis"
                                       value="None"
                                       ng-model="visKind"
                                       ng-change="watchVisualizationChange(visKind)">
                                None
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label class="radio-inline">
                                <input type="radio"
                                       name="optradioVis"
                                       value="Graph"
                                       ng-model="visKind"
                                       ng-change="watchVisualizationChange(visKind)">
                                Graph
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label class="radio-inline">
                                <input type="radio"
                                       name="optradioVis"
                                       value="Timeline"
                                       ng-model="visKind"
                                       ng-change="watchVisualizationChange(visKind)">
                                Timeline
                            </label>
                        </div>
                    </div>
                </div>
                    
                <div class="row" ng-show="noView.checked || graphView.checked || timelineView.checked">
                    <div class="form-group col-lg-3">
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="radio" ng-show="graphView.checked">
                            <label>
                                <input type="radio"
                                       name="optradioGraph"
                                       ng-model="graphView.state"
                                       value="opened">
                                is open
                            </label>
                        </div>
                        <div class="radio" ng-show="graphView.checked">
                            <label>
                                <input type="radio"
                                       name="optradioGraph"
                                       ng-model="graphView.state"
                                       value="closed">
                                is closed
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <div class="radio" ng-show="timelineView.checked">
                            <label>
                                <input type="radio"
                                       name="optradioTimeline"
                                       ng-model="timelineView.state"
                                       value="opened"
                                       checked="checked">
                                is open
                            </label>
                        </div>
                        <div class="radio" ng-show="timelineView.checked">
                            <label>
                                <input type="radio"
                                       name="optradioTimeline"
                                       ng-model="timelineView.state"
                                       value="closed">
                                is closed
                            </label>
                        </div>
                    </div>
                </div>
                <hr/>
                
                <div class="row">
                    <!-- Target Types -->
                    <div class="form-group col-lg-7">
                        <div class="form-group" >
                            <label>
                                Span types:
                            </label>
                            <table class="listingTable">
                                <tbody>
                                    <tr ng-repeat="target in this.targets">
                                        <td class="tableRowWithGlyph">
                                            {{target}}
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-remove"
                                                  style="color:red;" 
                                                  ng-click="removeTargeType(target)">
                                            </span>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                        <div class="input-group col-lg-6 sb_inputName">
                            <input type="text" ng-model="targetType" 
                                   class="form-control input-sm" 
                                   placeholder="Enter type name...">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" 
                                        type="button"  id="span-types-input"
                                        ng-disabled="disableTextInputButton(targetType)"
                                        ng-click="addTargetType(targetType)">
                                    Add
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <hr/>
                
                <div class="row">
                    <div class="form-group col-lg-12" >
                        <label>Label sets:</label>
                        <table class="form-group labelLinkSetTable table">
                            <thead class="headDark">
                            <th class="col-md-2">
                                Name
                            </th>
                            <th class="col-md-1">
                                Exclusive?
                            </th>
                            <th class="col-md-2">
                                Types
                            </th>
                            <th class="col-md-1">
                                Labels
                            </th>
                            <th class="col-md-1"/>
                            </thead>
                            <tbody>
                                <tr ng-repeat="labelSet in labelSets">
                                    <td>
                                        {{labelSet.name}}
                                    </td>
                                    <td>
                                        {{labelSet.exclusive}}
                                    </td>
                                    <td>
                                        <p ng-repeat="target in labelSet.appliesToTargetTypes">
                                            {{target}}
                                        </p>
                                    </td>
                                    <td>
                                        <p ng-repeat="label in labelSet.labels">
                                            {{label}}
                                        </p>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-edit"
                                              ng-click="editLabelSet(labelSet.name)">
                                        </span>
                                        <span class="glyphicon glyphicon-remove"
                                              style="color:red;"
                                              ng-click="removeLabelSet(labelSet.name)">
                                        </span>
                                    </td>
                                </tr>  
                            </tbody>
                        </table>
                        <hr/>
                        
                        <!-- Depending on the setting the label text can change -->
                        <label ng-bind="getLinkSetHeadline()">Link sets:</label>
                        <label ng-show="timelineView.checked" class="sb_graySmalltext">When timeline is selected only one link type is allowed, the link type has to be exclusive and each link label must have one relative position assigned.</label>
                        <table class="form-group labelLinkSetTable table">
                            <thead class="headDark">
                            <th class="col-md-2">
                                Name
                            </th>
                            <th class="col-md-1">
                                Start type
                            </th>
                            <th class="col-md-1">
                                End type
                            </th>
                            <th class="col-md-1">
                                Labels
                            </th>
                            <th class="col-md-1"/>
                            </thead>
                            <tbody>
                                <tr ng-repeat="linkSet in linkSets">
                                    <td>
                                        {{linkSet.name}}
                                    </td>
                                    <td>
                                        {{linkSet.startType}}
                                    </td>
                                    <td>
                                        {{linkSet.endType}}
                                    </td>
                                    <td>
                                        <div ng-repeat="label in linkSet.linkLabels" style="inline-box-align: initial">
                                            <p>{{label.linkLabel}}</p>
                                            <span ng-show="label.options !== undefined">{{label.options}}</span>

                                        </div>
                                    </td>
                                    <td>
                                        <span class="glyphicon glyphicon-edit" 
                                              ng-click="editLinkSet(linkSet)">
                                        </span>
                                        <span class="glyphicon glyphicon-remove" 
                                              style="color:red;"
                                              ng-click="removeLinkSet(linkSet)">
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                
                <div class="row">
                    <!-- Label Sets -->
                    <div class="form-group col-xs-6 sb_left vr_right" id="addLabelSetsDiv">
                        <label>
                            Add or modify label sets:
                        </label>
                        <div class="form-group">
                            <label>
                                Name:
                            </label>
                            <input type="text" placeholder="Enter name..." 
                                   class="form-control input-sm" 
                                   ng-model="nameLabelSet"/>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-init="exclusiveLabelSet = false"
                                           ng-model="exclusiveLabelSet">
                                    exclusive
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Applies to span types:
                            </label>
                            <table class="listingTable form-group">
                                <tbody>
                                    <tr ng-repeat="target in this.selectedTargetsLabel">
                                        <td class="tableRowWithGlyph">
                                            {{target}}
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-remove"
                                                  style="color:red;"
                                                  ng-click="removeTargetTypeLabel(target)">
                                            </span>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                            <div class="btn-group">
                                <button type="button"
                                        class="btn btn-default dropdown-toggle btn-sm"
                                        data-toggle="dropdown">
                                    Add span type
                                    <span class="caret">
                                    </span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="target in this.targets| filter:selectedTargetsLabelFilter">
                                        <a ng-click="addTargetTypeLabel(target);">
                                            {{target}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Labels:
                            </label>
                            <table class="listingTable form-group">
                                <tbody>
                                    <tr ng-repeat="label in this.currentLabelSet">
                                        <td class="tableRowWithGlyph">
                                            {{label.name}}
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-remove"
                                                  style="color:red;"
                                                  ng-click="removeLabelFromLabelSet(label.id)">
                                            </span>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                            <div class="input-group col-lg-6">
                                <input type="text" ng-model="labelName"
                                       class="form-control input-sm col-md-1"
                                       placeholder="Enter name...">
                            </div>
                            <div>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button"
                                            ng-disabled="disableTextInputButton(labelName)"
                                            ng-click="addLabelToLabelSet(labelName)">
                                        Add label
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group sb_right">
                            <button type="button" class="btn btn-success"
                                    id ="sb_addLabelSetButton"
                                    ng-disabled="disableLabelSetButton()"
                                    ng-click="addLabelSet()">
                                Add label set
                            </button>
                        </div>
                    </div>
                    <!-- Link Sets -->
                    <div class="form-group col-xs-6 sb_right" id="scheme_add_links_div">
                        <label>
                            Add or modify link types:
                        </label>
                        <div class="form-group">
                            <label>
                                Name:
                            </label>
                            <input type="text" placeholder="Enter name..." 
                                   class="form-control input-sm" 
                                   ng-model="nameLinkSet"/>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4">
                                Start type:
                            </label>
                            <div class = "btn-group sb_margin">
                                <select class="form-control input-sm"
                                        ng-options="target for target in this.targets"
                                        ng-model="startType">
                                </select>
                            </div>
                            <br/>
                            <label class="col-xs-4">
                                End type:
                            </label>
                            <div class = "btn-group">
                                <select class="form-control input-sm col-xs-1"
                                        ng-options="target for target in this.targets"
                                        ng-model="endType">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                Labels:
                            </label>
                            <table class="form-group listingTable">
                                <tbody>
                                    <tr ng-repeat="label in this.currentLinkSet">
                                        <td class="tableRowWithGlyph">
                                            <label class="sb_normalText">{{label.linkLabel}}</label>
                                            <label class="sb_normalText" ng-show="label.options !== undefined">[{{label.options}}]</label>
                                        </td>
                                        <td>
                                            <span class="glyphicon glyphicon-remove" 
                                                  style="color:red;"
                                                  ng-click="removeLabelFromLinkSet(label.id)">
                                            </span>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                            <div class="input-group">
                                <input type="text"
                                       ng-model="linkLabelName"
                                       class="form-control input-sm"
                                       placeholder="Enter name...">
                            </div>
                            <div>
                                <div class="btn-group"
                                     ng-show="timelineView.checked"
                                     ng-model="title"
                                     ng-init="positioningTitle = 'Choose positioning'">
                                    
                                    <button type="button" class="btn btn-default dropdown-toggle btn-sm"
                                            data-toggle="dropdown">
                                        {{positioningTitle}}
                                        <span class="caret">
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-model="positioning">
                                            <a ng-click="positioning = positioningTitle = 'horizontal'">horizontal</a>
                                            <a ng-click="positioning = positioningTitle = 'vertical'">vertical</a>
                                        </li>
                                    </ul>
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" 
                                            type="button"
                                            ng-disabled="disableLinkLabelButton(linkLabelName, positioning)" 
                                            ng-click="addLabelToLinkSet(linkLabelName, positioning)">
                                        Add label
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group sb_right">
                            <button type="button" class="btn btn-success" id ="sb_addLinkSetButton"
                                    ng-disabled="disableLinkSetButton()"
                                    ng-click="addLinkSet()">
                                Add link type
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <uib-alert ng-repeat="alert in alerts"
                           type="{{alert.type}}"
                           dismiss-on-timeout="10000"
                           close="closeAlert($index)">
                    {{alert.msg}}
                </uib-alert>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Cancel</button>
                <button id="sb_submitSchemeButton"
                        type="button"
                        class="btn btn-primary"
                        ng-click="submit()">Create and save scheme</button>
            </div>
        </form>

    </body>
</html>