<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<link href="css/dashboard.css" rel="stylesheet">

<div class="jumbotron text-center">
    <div class="container">

        <div class="col-md7"><h1>DiscAnno</h1>

            <div class="alert alert-success" >
                <strong>Hello {{prename}} {{lastname}}!</strong> You are logged in as {{role}}.           
            </div>

            <div>DiscAnno is a web-based annotation system optimized for discourse annotation tasks:
                annotators can scroll through long documents, and tag sets with few labels
                are presented for quick and easy selection. For technical details and user manuals, check out our <a href="https://github.com/annefried/discanno">
                    GitHub site</a>.
            </div>

            <p class="text-mid">
                New to DiscAnno?<br/> Click <a href="#tutorial">here</a> to take a quick tour and explore all the features of DiscAnno.</p>
        </div>

        <!--div>DiscAnno was developed at Saarland University and the German Research Center for Artificial Intelligence (DFKI).</div-->
    </div>
</div>