<link href="css/dashboard.css" rel="stylesheet">

<div class="jumbotron text-center">
    <div class="container">
        
        <div class="alert alert-success" ng-hide="visible == 'true' ">
            <strong>Hello {{prename}} {{lastname}}!</strong> You are logged in as {{role}}.           
        </div>
        <h1>{{projectName}}</h1>

        <p class="text-mid">The idea of the project is to create a flexible, stable and accessible web-based annotation system.
            The main focus should be on the annotation of temporal structures, but it should not be limited to this scenario. As of now there is no tool available that specifically supports this. Where normal annotation systems display labels and relations directly over the text, this is not an option for temporal relations. A suggested solution would be the visualisation as a graph.
            Besides the actual annotation task, a slim management system for students is also requested. Since students do most of the annotation work, this is of great importance.</p>
    </div>
</div>
