
<link href="css/explorer.css" rel="stylesheet">

<script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
    <div ng-transclude></div>
    </div>
</script>
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-12 main">
            <h2 class="sub-header">Profile</h2>

            <table class="table">
                <thead class="headDark">
                    <tr>
                        <th>Prename</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>E-Mail</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{prename}}</td>
                        <td>{{lastname}}</td>
                        <td>{{role}}</td>
                        <td>{{email}}</td>
                        <td>
                            <a>
                                <span class="glyphicon glyphicon-pencil"
                                    ng-click="openProfileEditModal()">
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <span>
                <input type="text" ng-model="this.val" numbers-only/>
                <b>Minutes</b>
                <button class="btn btn-primary confirmButton"
                        type="button" 
                        ng-click="addTimeLogging()">Add Logged Time
                </button>
            </span>

            <span>
                <b>Total amount:</b>
                <label>{{this.totalTime}}</label>
            </span>

            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</uib-alert>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-6 col-md-6">Timestamp</th>
                        <th class="col-sm-6 col-md-6">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in this.tilog| orderBy: '-loggedat'">
                        <td class="col-sm-6 col-md-6">{{x.loggedat| date:'dd.MM.yyyy - HH:mm:ss'}}</td>
                        <td class="col-sm-6 col-md-6">{{x.loggedtime}} Minutes</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
