<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<link href="css/explorer.css" rel="stylesheet">
<link href="bootstrap-tour-standalone.min.css" rel="stylesheet">
<div class="container-fluid">
    <h3>DiscAnno Features</h3>
    <ul>
        <li>Temporal structures</li>
        <li>Discourse mode</li>
        <li>Visualization by graph and or timeline</li>
        <li>Customization via scheme</li>
        <li>Project administration</li>
        <li>Different user roles: Admin, project manager, annotater</li>
    </ul>
    <h3>Tips and Hints</h3>
    <ul>
        <li>To deselect click in the area where no text is</li>
        <li>Use the shortcuts to improve the annotation process</li>
        <li>To annotate a word or passage start marking in the middle of the word</li>
    </ul>
</div>