<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<link href="css/explorer.css" rel="stylesheet">
<div class="container-fluid">

    <div class="col-md7">
        <h2 id="1-features" style="display: inline-block">Welcome to a quick tour of DiscAnno!</h2>
        <br/>

        <p>DiscAnno is designed such that most things should be self-explanatory.
            You can click around and try out things for yourself, or follow the tours below!
        <p>

        <p ng-hide="isUnprivileged === 'true'">
            DiscAnno provides two different user roles.
            DiscAnno users are either <strong>project managers</strong> or
            <strong>annotators</strong>. Depending on whether you are logged in as a project manager
            or as an annotator, you will see the project manager or the annotator tours. If you are
            trying out DiscAnno for the first time, start with the project manager tour and then
            log in as an annotator (you will create an account during the tour).<br/>
            <br/>
            <i>HINT: In case a tour gets stuck, just go back to this tutorial page and refresh your browser.
            Then restart the tour. This is a known problem with the tutorial library we're using. We're aplogize and we are currently working
            to solve this problem. By the way... this doesn't happen if you carefully do what the
            tutorial tells you to do. :)</i>
        </p>


        <button ng-hide="isUnprivileged === 'true'" class="btn btn-md btn-primary" id="start-tour" ng-click="startTourUserMgmt()">
            Start tour 1: user management
        </button>
        <div ng-hide="isUnprivileged === 'true'"> <br/></div>

        <button ng-hide="isUnprivileged === 'true'" class="btn btn-md btn-primary" id="start-tour2" ng-click="startTourSchemes()">
            Start tour 2: annotation scheme configuration
        </button>

        <div ng-hide="isUnprivileged === 'true'"> <br/></div>

        <button ng-hide="isUnprivileged === 'true'" class="btn btn-md btn-primary" id="start-tour3" ng-click="startTourProjectExpl()">
            Start tour 3: project explorer
        </button>

        <!-- tours for annotators -->
        <p ng-hide="isUnprivileged === 'false'">
            Before starting the tour, go to the Project Explorer and check whether some document is waiting for you.
            Otherwise, ask your project manager to add some documents for you.
            <br/><br/></p>

        <button ng-hide="isUnprivileged === 'false'" class="btn btn-md btn-primary" id="start-tourAnnot" ng-click="startTourAnnotator()">
            Start tour
        </button>
        <br/><br/>
    </div>
</div>