<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<uib-accordion-group
        heading="Project navigation"
        is-disabled="false"
        is-open="false"
        class="unselectable"
        id="anno-navigation">


    <label>{{this.currProj.name}}</label>
    <table class="table">
        <tr ng-repeat="doc in this.documents">
            <td>
                <a ng-if="doc.id != currDoc.id"
                   ng-click="openAnnoTool(doc.id, doc.name, this.currProj.id, this.currProj.name, this.currProj.tokenizationLang)"
                   style="cursor: pointer">
                    {{doc.name}}
                </a>
                <a ng-if="doc.id == currDoc.id"
                   ng-href
                   ng-click="openAnnoTool(doc.id, doc.name, this.currProj.id, this.currProj.name, this.currProj.tokenizationLang)"
                   style="color: gray; cursor: pointer">
                    {{doc.name}}
                </a>
            </td>
            <td>
                <span ng-hide="doc.completed === false || doc.completed === undefined"
                      class="glyphicon glyphicon-ok">
                </span>
            </td>
        </tr>
    </table>
</uib-accordion-group>
