.annotationfield {
    margin-left: 0.5em;
}

.scroll-pane
{
    overflow: scroll !important;
    height:auto;
/*    max-height: 400px;*/
}

.annotationtitle {
    margin-left: 0.5em;
    margin-top: 4.5em;
}

.accordionfield {
    margin-right: 0.5em;
}

.annotationoptions {
    margin-left:  1em;
    margin-right: 1em;
}

.graph {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.headerinfo {
    font-weight: bold;
    font-size: 115%;
}

.infotitle {
    font-size: 100%;
    color: gray;
}

.annotationtext {
    margin-top: 1em;
}

.annotationbox {
    stroke-width: 1;
    fill-opacity: 0.6;
    stroke-opacity: 0.8;
}

.target {
    fill: #EFC94C;
    fill-opacity: 0.4;
}

.annotationboxtext {
    text-anchor: middle;
}

.rightwindow {
    position: fixed;
    padding: 1em;
    left: 79%;
    top: 7.7em;
    transform: translateX(-50%);
}

.unevenline {

}

.evenline {

}

.optiontitle {
    font-weight: bold;
    margin:0px;
}

.optiontext {
    margin-right: 1em;
}

.optionsinput {
    margin-left:  1em;
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
}

::selection {
    background: #dbdbdb; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #dbdbdb; /* Gecko Browsers */
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
   float:left;  
   position: initial;
   margin: 3px 0.5ex;
}

.col-md-4 {
    padding:0;
    padding-right: 10px;
}

.panel-body {
    padding:5px;
}

.col-md-7 {
    padding:5px;
}

.btn {
    width: 90%;
    margin: 1px;
    padding: 1px;
}