
.optionstext {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 120%;
    font-weight: bold;
}

.checkboxLabel {
<<<<<<< HEAD
    font-size: 100%;
    padding-left:5px;
=======
    font-size: 90%;
    padding-left:5px;
    font-weight: normal;
}

.checkboxLabelDisabled {
    color: gray;
>>>>>>> master
}

.targetTypesDiv {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
<<<<<<< HEAD
    width:100%;
    margin-left:0;
    padding-left:5px;
    padding-bottom:5px;
=======
    margin-left:0;
    padding-left:5px;
    padding-bottom:5px;
}

.colsWithSpace {
    padding:5px;
>>>>>>> master
}