.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node-active{
    stroke: #555;
    stroke-width: 1.5px;
}

.link {
    stroke: #555;
    stroke-opacity: .3;
}

.link-active {
    stroke-opacity: 1;
}

.overlay {
    fill: none;
    pointer-events: all;
}

#map{
    border: 2px #555 dashed;
    width:500px;
    height:400px;
}