<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Signin</title>
		
		<script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="signin.js"></script>
		
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/signin.css" rel="stylesheet">
    </head>

    <body ng-app="app">
        <div>
            <div class="container">
                <form method="post" class="form-signin" ng-controller="LoginController as log">
                    <script type="text/javascript">
                        wrong = true;
                    </script>
                    <div class="alert alert-danger" ng-hide="!wrong">
                        <strong>Oh snap!</strong> Email or password was wrong.
                    </div>
                    <h2 class="form-signin-heading">{{projectName}} Login</h2>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="credentials.username" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="credentials.password" required>
                    <button class="btn btn-default" ng-click="login(credentials)">Sign in</button>
                </form>
            </div>
        </div>
    </body>
</html>